.activeaccordion{
    background-color: #e9e5e5 !important;
}
.btn{
    padding: 0;
}
.card{
    box-shadow: none;
    border: 1px solid #c4c3c3;
    border-radius: 0;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
background-color: rgba(0,0,0,.08);
border-radius: 2px;
color: #323232;
padding: 12px 14px;
line-height: 13px;
font-size: 13px;
letter-spacing: 1px;
}

.nav-pills .nav-link, .nav-pills .show > .nav-link {
color: #6b6b6b;
padding: 12px 14px;
line-height: 13px;
font-size: 13px;
letter-spacing: 1px;
}

svg {

fill: rgba(0,0,0,.2)!important;
height: 30px!important;
}

.card-header {
background-color: #ffffff;
border-bottom: 1px solid rgba(0, 0, 0, 0.125);
padding: 10px;
}
.card-header:hover{
    background-color: #F8F8F8;
}

a {
color: #000000;
}

a:hover {
color: #CB1104;
}

i {
margin-right: 5px;
font-size: x-large;
float: left;
}
i.fa-angle-right{
float: right;
margin-top: -19px;
font-size: larger;
}
h2 span{
margin-top: 10px;
display: block;

}
p {
color: #6b6b6b;
font-size: 16px;
}

.mk-svg-icon {
float: right;
}

.btn-link {
color: #000000;
text-decoration: none;
}

.btn-link:hover {
  color: #000000;
  text-decoration: none;
}

.btn-link:focus {
text-decoration: none;
}

.btn:focus, .btn.focus {
outline: 0;
box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}
